In [1]:
import sqlite3

In [3]:
db = sqlite3.connect('lecture1.sqlite')

In [4]:
db

In [7]:
cur = db.cursor()
cur

In [11]:
employee_id = [100, 101, 102]
name = ["Rishav", "Abhishek", "Aman"]
age = [25,26,24]
department = ["Marketing", "Operations", "Human Resource"]
salary = [50000, 60000, 75000]

In [10]:
cur.execute("CREATE TABLE Employee (employee_id INTEGER PRIMARY KEY, name TEXT, age INTEGER, department TEXT, salary INTEGER)")

In [21]:
for i in range(3):
    s = "INSERT INTO Employee values({0},'{1}',{2},'{3}',{4})".format(employee_id[i],name[i],age[i],department[i],salary[i])
    cur.execute(s)

In [22]:
db.commit()

In [23]:
cur.execute("DELETE FROM Employee where employee_id = 101")

In [24]:
db.commit()

In [27]:
cur.execute("DELETE FROM Employee where employee_id = ?",(100, ))

In [28]:
db.commit()

In [31]:
employee_id=[101,102,103,104,105,106,107,108,109,110,111,112,113]
name=['Aadarsh','Aarti','Siddharth','Aman','Amit','Shivansh','Vaibhav','Himanshu','Raman','Kunal','Adhira','Tanya']
age=[25,27,25,24,30,26,23,26,25,26,29,24]
department=['Marketing','Operations','Finance','Human Resource','Marketing','IT','Finance','IT','Operations','Marketing','Human Resource','Marketing']
salary=[50000,60000,85000,75000,50000,90000,85000,90000,60000,50000,75000,50000]

for i in range(12):
    cur.execute("INSERT INTO Employee values(?, ?, ?, ?, ?)", (employee_id[i], name[i], age[i], department[i], salary[i]))

IntegrityError: UNIQUE constraint failed: Employee.employee_id

In [32]:
db.commit()

In [38]:
cur.execute('SELECT employee_id from Employee where department = "Finance"')

In [39]:
for el in cur.fetchall():
    print(el[0])

103
107

In [40]:
import sqlite3
db = sqlite3.connect('lecture1.sqlite')
cur = db.cursor()
cur.execute('SELECT employee_id from Employee where department = "Finance"')
for el in cur.fetchall():
    print(el[0])

103
107

In [42]:
import sqlite3
db = sqlite3.connect('lecture1.sqlite')
cur = db.cursor()
cur.execute('SELECT department, count(*) from Employee GROUP BY department')
for el in cur.fetchall():
    print(el[0], el[1])

Finance 2
Human Resource 2
IT 2
Marketing 4
Operations 2

In [56]:
import sqlite3
import pandas as pd
db = sqlite3.connect('IMDB.sqlite')
df = pd.read_sql_query("Select * from genre", db)
df.dropna(inplace = True)
df = df[df.genre != '']
genre = df["genre"].value_counts().index
val = df["genre"].value_counts().values
for i in range(len(genre)):
    print(genre[i], val[i])

Drama 77
Adventure 43
Action 33
Comedy 31
Biography 21
Sci-Fi 18
Thriller 14
Animation 13
Romance 13
Crime 11
Fantasy 7
Mystery 7
History 6
Family 3
Music 3
Sport 3
War 2
Horror 2
Western 2
Musical 1

In [74]:
import sqlite3
import pandas as pd
db = sqlite3.connect('IMDB.sqlite')
imdb = pd.read_sql_query("Select * from IMDB", db)
earning = pd.read_sql_query("Select * from earning", db)
genre = pd.read_sql_query("Select * from genre", db)
earning["Total"] = earning["Domestic"] + earning["Worldwide"];
MovieID = earning[earning["Total"] == earning["Total"].max()].Movie_id.values[0]
print(imdb[imdb["Movie_id"] == MovieID].Rating.values[0])

8.1